---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for item in collections.all %}
{%- set u = item.url %}
{%- if u and ("/thank-you" not in u) and ("/404" not in u) %}
  <url><loc>https://www.hunterspestcontrol.com{% if u == "/index.html" %}/{% else %}{{ u }}{% endif %}</loc>{% if "/blog/" in u %}<lastmod>{{ item.date | isoDate }}</lastmod><changefreq>yearly</changefreq><priority>0.6</priority>{% elif u == "/index.html" %}<changefreq>weekly</changefreq><priority>1.0</priority>{% elif u == "/blog.html" %}<changefreq>weekly</changefreq><priority>0.7</priority>{% elif "/areas/" in u %}<changefreq>monthly</changefreq><priority>0.7</priority>{% else %}<changefreq>monthly</changefreq><priority>0.8</priority>{% endif %}</url>
{%- endif %}
{%- endfor %}
</urlset>
